<?xml version="1.0"?>
<launch>
    <arg name="p" default="0.0" />
    <arg name="i" default="0.0" />
    <arg name="d" default="0.0" />
    <arg name="controller_ready" default="true" />

    
    
    <node name="PID_controller" pkg="controller_system" type="PID_controller" output="screen" >
        <param name="~p" type="string" value="$(arg p)" />
        <param name="~i" type="string" value="$(arg i)" />
        <param name="~d" type="string" value="$(arg d)" />
	<param name="controller_ready" type="string" value="$(arg controller_ready)" />
    </node>
</launch>
